<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Portal | Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head2">
        <div class="head-txt"><h1>Welcome, {{current_user.f_name}}!</h1></div>
        <div class="nav-container">
            <ul class="nav">
                <li><a href="/poll/form">Create Poll</a></li>
                <li><a href="/user/{{current_user.id}}/yourpolls">Your Polls</a></li>
                <li><a href="/user/logout">Sign Out</a></li>
            </ul>
        </div>
    </div>
    <div class="index-polls-container">
        {% if all_polls %}
        <div class="head-txt2"><h3>Click on a poll below to cast your vote...</h3></div>
        <ul>
            {% for poll in all_polls%}
                <a href="/poll/{{poll.id}}/view"><li>{{poll.question_text}}</li></a>
            {% endfor %}
        </ul>
        {% else %}
            <span>
                There are no polls currently active. Check back later!
            </span>
        {% endif %}
    </div>
</body>
</html>